<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='UTF-8'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <meta content='<%= meta_tag_description %>' name='description'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <!--Title-->
    <title><%= meta_tag_title %></title>
    <!--Favicons-->
    <%= favicon_tag 'favicons/favicon.ico' %>
    <%= favicon_tag 'favicons/apple-touch-icon.png' %>
    <!--Styles-->
    <%= stylesheet_link_tag :site %>
    <%= yield_content :head %>
  </head>

  <body class='<%= page_classes %>'>
    <%= yield %>
    <!--Scripts-->
    <%= javascript_include_tag :site %>
  </body>
</html>
