<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='UTF-8'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <meta content='<%= meta_tag_description %>' name='description'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <!--Title-->
    <title><%= meta_tag_title %></title>
    <!--Styles-->
    <%= stylesheet_link_tag 'bundle/site' %>
    <%= yield_content :head %>
  </head>

  <body>
    <%= yield %>
    <!--Scripts-->
    <%= javascript_include_tag 'bundle/all.min' %>
  </body>
</html>
